$primary-color: #333;
$banner-text: #fff;

body {
    position:relative;
    font-size: 15px; 
    color: $primary-color;
}

.logo {
    border:1px solid black;
    top: 15%; left: 80px;
    float:left;
    display:block;
    position:absolute;
    padding:20px;
}

header{
    position: relative;
    display: block;
    width:100%;
    height:90px;
}

nav {
right: 25px; top: 30%;
position:absolute;
}

nav ul {
    list-style-type:none;
    float:right;
}

nav li {
    display: inline;
    margin-right: 100px;
    font-size:28px;
}

nav a {
    color: $primary-color;
}

.wrap {
    background:$primary-color;
    height:680px;
    color:white;
    padding:25px 80px;
}

.wrap h2 {

}

footer {
    height:50px;
}

.leftSide {
    margin-top:20px;
    border: 1px solid white; 
    height: 80%;
    width: 45%;
}


.banner {
    position:relative;
    padding:0;
    width:100%;
    height:550px; 
    overflow-y:hidden;    
}
.bannerImg {
width:100%;
margin-left:0;
oerflow-y: hidden;
}

.mcoss {
padding:20px 50px;
background:black; 
opacity:0.7;
position:absolute;  
top:10%;
left:5%;
color:$banner-text;
}

.mcoss h1{
    font-size: 64px;
}

.mcoss h2{
    font-size:48px;
}